GEMINI_API_KEY="YOUR_GEMINI_API_KEY"

# Email settings for contact form
#smtp.gmail.com
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
#kattumaram.td@gmail.com
EMAIL_USERNAME="kattumaram.td@gmail.com"
EMAIL_PASSWORD="yygn dhbi epjp zqdn
"